body{
    background-color: lightsteelblue;
    background-size: cover;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-position: center;
    height: 100vh; /* set the height to 100% of the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* center the content vertically */
  }
  
  .container h1 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    color: white;
  }
  
  .container a {
    display: block;
    margin-bottom: 20px;
    color: white;
  }
  
  .container div {
    margin-bottom: 10px;
    color: brown;
  }
  
  .container strong {
    display: inline-block;
    width: 120px;
    font-weight: bold;
  }
  
  .container p {
    display: inline-block;
    margin-left: 10px;
    color: white;
  }
  
  .container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
  }